@model Hospital.Models.Bed

<h2 class="page-header">
	<small>@ViewBag.Action</small>
	@Html.DisplayNameFor(model => model.Id) @Html.DisplayFor(model => model.Id)
</h2>

<div>
    <!--creating a listed table for the beds-->
	<dl class="dl-horizontal text-med">
        <!--includes the name, cost and type of bed-->
		<dt>@Html.DisplayNameFor(model => model.Name)</dt>
		<dd>@Html.DisplayFor(model => model.Name)</dd>

		<dt>@Html.DisplayNameFor(model => model.RatePerDay)</dt>
		<dd>@Html.DisplayFor(model => model.RatePerDay)</dd>

		<dt>@Html.DisplayNameFor(model => model.Type)</dt>
		<dd>@Html.DisplayFor(model => model.Type)</dd>
	</dl>
</div>
