@model Hospital.Models.Visit

<h2 class="page-header">
	<small>@ViewBag.Action</small>
	@ViewBag.HeaderText
</h2>

@using(@Html.BeginForm((string)ViewBag.Action, "Visit", FormMethod.Post, new { @role= "form", @class= "form-signin form-horizontal" })) {
	@Html.AntiForgeryToken()
	<div class="form-group">
		@Html.LabelFor(model => model.PatientType, new { @class= "col-md-2 control-label" })
		<div class="col-md-2">	
			@Html.RadioButtonFor(model => model.PatientType, true, new { @checked= true })
			@Html.Label("In")
			
			&nbsp;&nbsp;
			
			@Html.RadioButtonFor(model => model.PatientType, false)
			@Html.Label("Out")			
		</div>
	</div>
	<div class="form-group">
		@Html.Label("Patient Name", new { @class= "col-md-2 control-label" })
		<div class="col-md-2">
			@{
				if(ViewBag.Action== "Edit") {
					@Html.DropDownList("PatientId", null, "Select Patient", new { @class="form-control", Disabled= true });
				} else {
					@Html.DropDownList("PatientId", null, "Select Patient", new { @class="form-control" });
				}
			}

		</div>
		@Html.ValidationMessageFor(model => model.PatientId, "", new { @class= "alert-danger" })
	</div>

	<div class="form-group">
		@Html.Label("Doctor Name", new { @class= "col-md-2 control-label" })
		<div class="col-md-2">
			@Html.DropDownList("DoctorId", null, "Select Doctor", new { @class="form-control" })
		</div>
		@Html.ValidationMessageFor(model => model.DoctorId, "", new { @class= "alert-danger" })
	</div>

	<div class="form-group">
		@Html.Label("Bed Name", new { @class= "col-md-2 control-label" })
		<div class="col-md-2">
			@Html.DropDownList("BedId", null, "Select Bed", new { @class="form-control" })

		</div>
		@Html.ValidationMessageFor(model => model.BedId)
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Symptoms, new { @class= "col-md-2 control-label" })
		<div class="col-md-3">
			@Html.TextAreaFor(model => model.Symptoms, new { @class= "form-control" })
		</div>
		@Html.ValidationMessageFor(model => model.Symptoms, "", new { @class= "alert-danger" })
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Disease, new { @class= "col-md-2 control-label" })
		<div class="col-md-3">
			@Html.TextAreaFor(model => model.Disease, new { @class= "form-control" })
		</div>
		@Html.ValidationMessageFor(model => model.Disease, "", new { @class= "alert-danger" })
	</div>

	<div class="form-group">
		@Html.LabelFor(model => model.Treatment, new { @class= "col-md-2 control-label" })
		<div class="col-md-3">
			@Html.TextAreaFor(model => model.Treatment, new { @class= "form-control" })
		</div>
		@Html.ValidationMessageFor(model => model.Treatment, "", new { @class= "alert-danger" })
	</div>

	<div class="form-group">
		<div class="col-md-6 col-sm-offset-2">
			<input type="submit" value="@ViewBag.ButtonValue" class="btn btn-primary" />
			@Html.ValidationMessage("message", new { @class= "alert-danger" })
		</div>
	</div>
}